*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{


background: url("../images/bg.jpg");
background-position: center;
text-align: center;

}
.sani{

text-align: center;
text-decoration: none;
color: white;
background-color: none;

}
.sani a{

    text-decoration: none;
    color: yellow;
}

.sani img{
    width: 300px;
padding-top: 0;
margin-top: 0px;
margin-bottom: 0px;

}

.menu{

width: 100%;
height: 50px;
background-color: red;
text-align: center;

}

.menu ul{


    display: inline-flex;
    align-content: center;
    align-items: center;
    padding-top: px;
}

.menu ul li{

margin-right: 15px;
list-style: none;
padding: 10px;
border-radius: 7px;
height: 100%;
margin-top: 4px;
font-size: 20px;
color: azure;

}

.menu ul li:hover{

   background-color: gray;
    
    }

    .menu ul li a{

text-decoration: none;
color: white;
font-weight: bold;

    }

    .menu ul li:hover:nth-child(even){

    background-color: green;
    }

    .menu ul li:hover:nth-child(odd){

        background-color: black;
        }


        .title_bar{

color: white;
text-align: center;
margin-top: 20px;
font-size: 35px;
text-decoration: underline;
font-weight: bold;

        }

        .title_bar:hover{

            color: yellow;

            transform: rotatey(360deg);
            transition: 4s;
           
        }

.main_box{

display: inline-flex;
width: 90%;
margin: 0 auto;
flex-wrap: wrap;
border-radius: 10px;
border: 3px solid yellow;
margin-top: 15px;
}

.box{
   
    height: 315px;
    width: 220px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px;
    z-index: 1;
    text-align: center;
    overflow: hidden;

}

.box_head{
   
    width: 250px;
    margin: 10px;
    text-align: center;
    display: block;

}
.button_buy{
    width: 100px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
}


.button_buy:hover{
    
    background-color: #004b10;
    cursor: pointer;
   
}

.button_sell{
    width: 100px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 17px;
}

.button_sell:hover{
    
    background-color: rgba(187, 8, 8, 0.89);
    cursor: pointer;
   
}